{% extends 'layout.html' %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="w-full max-w-md">
        <form method="POST" action="{{ url_for('login') }}" class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
            <h1 class="text-2xl font-bold text-center text-custom-blue mb-6">Connexion</h1>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Nom d'utilisateur
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-custom-blue" id="username" name="username" type="text" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Mot de passe
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline focus:ring-custom-blue" id="password" name="password" type="password" required>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-custom-blue hover:bg-custom-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Se connecter
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-custom-blue hover:text-custom-blue-dark" href="{{ url_for('register') }}">
                    Pas de compte ? S'inscrire.
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}